body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/images/snowy-mountain-background.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#index.container{
    
    height: 740px;
     border-style: solid;
     border-width: thin;
   border-color: #000000;
   background-color: rgba(0, 0, 0, .5);
   
    
}

#equipmentcontainer.container{
    background-color: rgba(16, 31, 87, 0.6);
    height: 360px;

}

#para1.col-sm-6{
    color: #ffffff;
   background-color:  rgba(169, 55, 55,.4);
   
  
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;

}

.container{
    padding-top: 50px;
}


#header.col-sm-12{
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}