@model IEnumerable<WinterStore.Models.Equipment>

@{
    ViewBag.Title = "index";
}

<h2>index of Equipment</h2>

<h2>All available equipment:</h2>

<div class ="container" id="equipmentcontainer">
<table id="equipment" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Equipment</th>
            <th>Type</th>
            <th>Age recomendation</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#equipment").DataTable({
                ajax: {
                    url: "/api/equipment",
                    dataSrc: ""
                },
                columns: [
                    { data: "equipmentName" },
                    { data: "equipmentType.equipmentTypeTypeOfSport" },
                     { data: "equipmentType.equipmentTypeAdultOrJunior" }
                ]
            });
        });
        </script>
}




